<a href="https://colab.research.google.com/github/saima08/pythonGov_Q3/blob/main/prep_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
print("Hello Python")

fav_celeb:str ="Saima"
print(fav_celeb)
imp_num:int= 789
print(imp_num)
sentence:str="My name is "
name:str="Saima"
print(sentence + name)
sent:str="Lucky number is"
number:str= "is987665543"
print(sent + number)

Hello Python
Saima
789
My name is Saima
Lucky number isis987665543

**Sir Hamza class 2
**

In [85]:
a =3
b =6
result= a +b
print("Addition:", result)
result= a - b
print("Subtacion:", result)
result= a * b
print("Multiplicationtion:", result)
result= a / b
print("Divisiontion:", result)
result= a % b
print("Modulous:", result)
result= a ** b
print("Exponent:", result)
num1 =99 % 10
print(num1)

num2 =45 % 6
print(num2)

num3 =8 % 3
print(num3)

Addition: 9
Subtacion: -3
Multiplicationtion: 18
Divisiontion: 0.5
Modulous: 3
Exponent: 729
9
3
2

In [22]:
name:str="Saima"
print(type(name))
number:int= 987
print(f"My name is", name, number)
age:int=44
edu:str ="Masters"
print(f"My age is", age , f"and My education is ", edu)
print(f"My name is {name}")

print("""My name is Saima
and I am a developer
learning in
Governor House.""")

first_name:str="Farah"
sec_name:str="Saima"
print(f""" Hi {first_name}
you 've got free coupon
from our company
from Sir Humza
dated:April12"""
      )
print(f""" Hi {sec_name}
you 've got free coupon
from our company
from Sir Humza
dated:April12"""
      )

<class 'str'>
My name is Saima 987
My age is 44 and My education is  Masters
My name is Saima
My name is Saima
and I am a developer
learning in
Governor House.
 Hi Farah
you 've got free coupon
from our company
from Sir Humza
dated:April12
 Hi Saima
you 've got free coupon
from our company
from Sir Humza
dated:April12

**SIR HAMZA CLASS-
3**

In [35]:
is_loggedin = True
are_road_closed = True
is_internat_closed = False
print(is_loggedin)
print(type(is_loggedin))

a = 10
b == 20
print( a!=b)
print( a>b)
print( a<b)
print( a>=b)

True
<class 'bool'>
True
True
False
True

In [53]:
my_age =30
if (my_age > 18):
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [60]:
name = input("Enter your name")
print(f"Hello, {name} ,Eid Mubarak")

age = input("Enter your age")
print(f"Your age is {age} years old")

Enter your namesana
Hello, sana ,Eid Mubarak
Enter your age23
Your age is 23 years old

In [84]:
age =int(input("Enter your age:"))
if (age == 18):
    print("You are eighteen")
elif (age < 18):
    print("You are under eighteen")
elif(age ==30):
    print("You are thirty")
elif(age ==40):
    print("You are   forty")
elif(age ==60):
    print("You are age of retirement")
elif(age ==90):
    print("Your are ninety")
elif(age>140):
 print("You are GHost")
else:
    print("You are wasting your time")

Enter your age:142
You are GHost