<a href="https://colab.research.google.com/github/saima08/pythonGov_Q3/blob/main/prep_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SIR HAMZA CLASS-6

In [ ]:
#DICTIONARY
users ={
    "username": "Saima",
    "age": 29,
    "city": "karachi",
}
print(users["city"])
print(users["username"])
print(users["age"])



users["username"] = "Farah"
print(users["username"])

users["age"] = 33
print(users["age"])

users["city"] = "NewYark"
print(users["city"])

users["country"] = "Pakistan"
print(users["country"], users["city"])

karachi
Saima
29
Farah
33
NewYark
Pakistan NewYark

In [ ]:
# LOOP

#for variable name in  (range):
for i in range(1,6):
  print(i)


students =["Ali","Saba","Sara","Noor","Saima","Nesha","Neeha"]
for students in students:
  print(students)

fruits=["anar","kela","rasberry","tarbooz","malta"]
for fruits in fruits:
  print(fruits)

alphabets =["a","b","c","d","e","f"]
for alphabets in alphabets:
  print(alphabets)

1
2
3
4
5
Ali
Saba
Sara
Noor
Saima
Nesha
Neeha
anar
kela
rasberry
tarbooz
malta
a
b
c
d
e
f

In [ ]:
#GUESSING GAME

correct_number = 6
guess = 0
while guess != correct_number:
 guess = int(input("Guess the correct number:  "))
 print("Incorrect guess, Try again" if guess != correct_number else "Correct guess")
 print("Thank you for playing game")

Guess the correct number:  4
Incorrect guess, Try again
Thank you for playing game
Guess the correct number:  6
Correct guess
Thank you for playing game

In [ ]:
# While Loop
countdown = 10
while countdown >= 1 :


  print(f"{countdown}. . .")
  countdown -=1
  print("Happy Birth day") #agr prin ko indent kia to ye hr number k baad aye ga
  # wrna last me print hoga kyon ke ye while loop le andr chale ga.agr space na
  #den to ye while loop ke bahar chale ga


countdown = 10
while countdown >= 5 :
  print(f"{countdown}. . .")
  countdown -=1
print("Happy Birth day")

10. . .
Happy Birth day
9. . .
Happy Birth day
8. . .
Happy Birth day
7. . .
Happy Birth day
6. . .
Happy Birth day
5. . .
Happy Birth day
4. . .
Happy Birth day
3. . .
Happy Birth day
2. . .
Happy Birth day
1. . .
Happy Birth day
10. . .
9. . .
8. . .
7. . .
6. . .
5. . .
Happy Birth day

In [ ]:
import time
countdown = 10
while countdown >= 5 :

  print(f"{countdown}. . .")
  countdown -=1
time.sleep(10)

print("Happy Birth day")

10. . .
9. . .
8. . .
7. . .
6. . .
5. . .
Happy Birth day

In [ ]:
numbers =[1,2,3,3,4,5]
print(numbers[1] * 2)
print(numbers[2] * 2)
print(numbers[3] * 2)
print(numbers[4] * 2)
print(numbers[5] * 2)

4
6
6
8
10

In [ ]:
#SQUARE ROOT BY FORLOOP

#import time
numbers =[1,2,3,4,5,6,]
#time.sleep(5)
for num in numbers:
  print(num ** 2)


  numbers =[8,7,5,6,3,2]
for num in numbers:
  print(num ** 2)

1
4
9
16
25
36
64
49
25
36
9
4

In [ ]:
#jb number of iteration pata ho ke loop kitni baar chalana he to for loop use hoga
#while loop ko condition ke zarye control krte hen

SIR HAMZA CLASS-7

In [ ]:
#ERROR HANDLING

try:
  num =int(input("Enter a number: "))
  result = num / 10
  print(f"REsult is {result}")

except ZeroDivisionError:
  print("Cannot divide by Zero")

except ValueError:
  print("only numbers are accepted")

Enter a number: n
only numbers are accepted