<a href="https://colab.research.google.com/github/saima08/pythonGov_Q3/blob/main/prep_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SIR HAMZA CLASS-7

In [16]:
try:
  print(10 / 0)
except ZeroDivisionError:
  print("Error:cannot divide by zero")

Error:cannot divide by zero

In [21]:
try:
  num =int(input("Enter a number: "))
  result = num / 0
  print(f"REsult is {result}")

except ZeroDivisionError:
  print("Cannot divide by Zero")

except ValueError:
  print("only numbers are accepted")
except Exception as e:
  print(f"An error occured: {e}")

Enter a number: 2
Cannot divide by Zero

MODULES

In [15]:
#text file bana kr us me function likha.phir leftside me ja kr uoload kia
#phir us ko as module import krdia..ignore yello line...
import greetings
print(greetings.say_hello())

Hello Python ! Nice to see you

In [4]:
# ASSIGNMENT

joke = "Sophia is heading out to the grocery store. A programmer tells her: get a liter of milk, and if they have eggs, get 12. Sophia returns with 13 liters of milk. The programmer asks why and Sophia replies: 'because they had eggs'"


sorry = "Sorry I only tell jokes "
def bot():
 user_input = input("What do you want")

 if "joke" in user_input:
  print(joke)
 else:
  print(sorry)

bot()

What do you wanthow are you
Sorry I only tell jokes

In [13]:
curr_value = int(input("Enter a number: "))

while curr_value < 100:
    curr_value = curr_value * 2
    print(f"Current value: {curr_value}")

Enter a number: 9
Current value: 18
Current value: 36
Current value: 72
Current value: 144

In [ ]:
curr_value1 =int(input("Enter a number:"))

  while curr_value1 <200:
    curr_value = curr_value1 * 3
    print(fCurrent Value : {Curr_value})

MCQS PRACTISE

In [1]:
print(int(True))
print(int(False))

1
0

In [2]:
b =bool([])
print(b)

False

In [3]:
for i in range(3):
 print(i)

0
1
2

In [5]:
sum = 0
for i in range(1,6):
  sum += i
print(sum)

15

In [6]:
x =5
while x:
  print(x)
  x -=1

5
4
3
2
1

In [7]:
my_list =[1,2,3,4,5]
print(my_list[1:4])

[2, 3, 4]

In [8]:
tuple2 =(10,20,30)
tuple4 =tuple2 *2
print(tuple4)

(10, 20, 30, 10, 20, 30)

In [2]:
num = 15
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Even

In [6]:
info = {
    "id": 101,
    "name": "Sara",

}
print(info.get("id"))
print(info.get("age", "not found"))
print(info.items())

101
not found
dict_items([('id', 101), ('name', 'Sara')])